@import "../../styles/_vars.scss";
nav {
    position: absolute;
    top: 0;
    background-color: white;
    box-sizing: border-box;
    width: 100vw;
    z-index: 5;

    * {
        color: whitesmoke !important;
    }
}
ul {
    position: absolute;
    right: 50px;
}
#icon {
    right: 10px;
    position: absolute;
}
header {
    width: 100% !important;
    box-sizing: border-box !important;
}
