@import "vars";

* {
  font-family: $body-font !important;
  box-sizing: border-box !important;
}
nav ul {
  @include horizontal-list;
}

.display-none {
  display: none
}
a {
  text-decoration: none;
}

.dashboard-nav {
  background-color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0)) !important;
  box-shadow: none !important;

  * {
    color: #282c34 !important;
  }
}