@import url('https://fonts.googleapis.com/css?family=Karla|Montserrat');

$header-font: 'Karla', sans-serif;
$body-font: 'Karla', sans-serif;
$white-font: #f4f4f4;

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin horizontal-list {
  @include reset-list;

  li {
    display: inline-block;
    margin-right: 20px;
  }
}